@import 'tailwindcss';

html,
body {
	box-sizing: border-box;
	min-height: 100vh;
	overscroll-behavior: none; /* prevents scroll chaining & overscroll effects */
	-webkit-overflow-scrolling: auto; /* disables momentum scroll glow on iOS */
	margin: 0;
	padding: 0;
	border: 0;
}

*:focus {
	outline: none;
}

*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

#root {
	height: 100%;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	background: #9d4444;
}

*:focus {
	outline: none;
}
